<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href='/stylesheets/style.css' rel='stylesheet'>
  </head>
  <body>
    <header class='admin-header'>
      <div class='main'>
        okaeri CMS
      </div>
    </header>
    <div class='container'>
      {{{body}}}
    </div>
    <script src='/javascripts/site.js'></script>
  </body>
</html>
